{% extends 'base.html' %}

{% block title %}
   Home
{% endblock %}

{% block content %}
   <!-- modals -->
   {% include 'modals/logout_modal.html'%}
   
   <div class="sidebar shadow">
      <h2>HRIS</h2>
      <h6 align="center"><span id="time">&nbsp</span></h6>
      <ul class="nav_">
         <li class="nav-item {{'shadow rounded' if active_page == 'home' else ''}}">
            <a class="nav-link" href="{{ url_for('home_bp.home') }}" 
            style="{{'margin-left:20px;' if active_page == 'home' else ''}}">
               <i class="fa-solid fa-house"></i> Home
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'profile' else ''}}">
            <a class="nav-link" href="{{ url_for('profile_bp.profile') }}"
            style="{{'margin-left:20px;' if active_page == 'profile' else ''}}">
               <i class="fa-solid fa-address-card"></i></i> Profile
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'attendance' else ''}}">
            <a class="nav-link" href="{{ url_for('attendance_bp.attendance') }}"
            style="{{'margin-left:20px;' if active_page == 'attendance' else ''}}">
               <i class="fa-regular fa-calendar-days pr-1"></i> Attendance
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'payslips' else ''}}">
            <a class="nav-link" href="{{ url_for('payslips_bp.payslips') }}"
            style="{{'margin-left:20px;' if active_page == 'payslips' else ''}}">
               <i class="fa-solid fa-money-bill"></i> Payslips
            </a>
         </li>

         {% if current_user.access.value == 'Admin' %}
         <h6 align="center" class="pt-4"><u>Admin Panel</u></h6>
         <li class="nav-item {{'shadow rounded' if active_page == 'employees' else ''}}">
            <a class="nav-link" href="{{ url_for('employees_bp.employees') }}"
            style="{{'margin-left:20px;' if active_page == 'employees' else ''}}">
               <i class="fa-solid fa-people-group"></i> Employees
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'departments' else ''}}">
            <a class="nav-link" href="{{ url_for('departments_bp.departments') }}"
            style="{{'margin-left:20px;' if active_page == 'departments' else ''}}">
               <i class="fa-solid fa-people-roof"></i> Departments
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'schedules' else ''}}">
            <a class="nav-link" href="{{ url_for('schedules_bp.schedules') }}"
            style="{{'margin-left:20px;' if active_page == 'schedules' else ''}}">
               <i class="fa-regular fa-calendar pr-1"></i> Schedules
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'salaries' else ''}}">
            <a class="nav-link" href="{{ url_for('salaries_bp.salaries') }}"
            style="{{'margin-left:20px;' if active_page == 'salaries' else ''}}">
               <i class="fa-solid fa-sack-dollar"></i> Salaries
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'payroll' else ''}}">
            <a class="nav-link" href="{{ url_for('payroll_bp.payroll') }}"
            style="{{'margin-left:20px;' if active_page == 'payroll' else ''}}">
               <i class="fa-solid fa-money-bill"></i> Payroll
            </a>
         </li>
         <li class="nav-item {{'shadow rounded' if active_page == 'announcements' else ''}}">
            <a class="nav-link" href="{{ url_for('announcement_bp.announcements') }}"
            style="{{'margin-left:20px;' if active_page == 'announcements' else ''}}">
               <i class="fa-solid fa-bullhorn"></i> Announcements
            </a>
         </li>
         {% endif %}
      </ul>

      <div class="logout">
         <button type="button" class="btn text-danger " data-toggle="modal" data-target="#logout_user_{{ current_user.id }}">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
         </button>
      </div>
   </div>

   <div class="main">
      {% block nav_contents %}

      {% endblock %}
   </div>

{% endblock %}


{% block javascripts_local %}
{{ super() }}
<script>
   function refreshTime() {
      const timeDisplay = document.getElementById("time");
      const dateString = new Date().toLocaleString();
      const formattedString = dateString.replace(", ", " - ");
      timeDisplay.textContent = formattedString;
      setTimeout(refreshTime, 1000);
   }
     
   $(document).ready(function(){
      refreshTime();
   });
</script>

{% endblock %}
