{% extends 'main.html' %}
{% set active_page = "employees" %}


{% block nav_contents %}
<div class="container">
   <div class="row mt-3 mb-3">
      <div class="col-12">
         <h4 class="shadow border p-3 rounded">
            <a href="{{ url_for('employees_bp.employees') }}" class="text-dark">Employees</a> >
            <a href="#" class="text-dark">Add Employee</a>
         </h4>
      </div>
   </div>

   <div class="row mt-3 mb3">
      <div class="col-12">
         <form action="" method="post" autocomplete="off">
            {{ add_employee.hidden_tag() }}
            <div class="shadow rounded p-4">
               <h4 class="mt-2">Employee Account</h4><hr>
               <div class="row">
                  <div class="col-4">
                     <div align="center">
                        <img class="" src="{{ url_for('static', filename='images/profile.svg')}}" alt="Preview Image" id="imagePath"width="120">
                        <!-- <input type="file" class="form-control-file btn pt-3" accept="image/*" type='file' id="imageFile" /> -->
                        {{ add_employee.image_path(class="form-control-file btn pt-3", id="imageFile")}}
                     </div>
                  </div>
                  <div class="col-8">
                     <div class="form-row">
                        <div class="form-outline mb-1 mt-1 col">
                           <strong>{{ add_employee.company_email.label() }}</strong>
                           {{ add_employee.company_email(class="form-control") }}
                        </div>
                        <div class="form-outline mb-1 mt-1 col">
                           <strong>{{ add_employee.access.label() }}</strong>
                           {{ add_employee.access(class="form-control") }}
                        </div>
                     </div>
                     <div class="form-row">
                        <div class="form-outline mb-1 mt-1 col">
                           <strong>{{ add_employee.password1.label() }}</strong>
                           {{ add_employee.password1(class="form-control") }}
                        </div>
                        <div class="form-outline mb-1 mt-1 col">
                           <strong>{{ add_employee.password2.label() }}</strong>
                           {{ add_employee.password2(class="form-control") }}
                        </div>
                     </div>
                  </div>
               </div>
            </div><br>

            <div class="shadow rounded p-4">
               <h4 class="mt-2">Personal Profile</h4><hr>
            <div class="form-row">
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.last_name.label() }}</strong>
                  {{ add_employee.last_name(class="form-control") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.first_name.label() }}</strong>
                  {{ add_employee.first_name(class="form-control") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.middle_name.label() }}</strong>
                  {{ add_employee.middle_name(class="form-control") }}
               </div>
            </div>

            <div class="form-row">
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.gender.label() }}</strong>
                  {{ add_employee.gender(class="form-control") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.birth_date.label() }}</strong>
                  {{ add_employee.birth_date(class="form-control", id="datepicker") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.civil_status.label() }}</strong>
                  {{ add_employee.civil_status(class="form-control") }}
               </div>
            </div> 

            <div class="form-row">
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.mobile.label() }}</strong>
                  {{ add_employee.mobile(class="form-control", id="datepicker") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.email.label() }}</strong>
                  {{ add_employee.email(class="form-control") }}
               </div>
            </div>

            <div class="form-row">
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.address.label() }}</strong>
                  {{ add_employee.address(class="form-control") }}
               </div>
            </div>
   
            <div class="form-row">
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.tin.label() }}</strong>
                  {{ add_employee.tin(class="form-control", id="datepicker") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.sss.label() }}</strong>
                  {{ add_employee.sss(class="form-control") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.phil_health.label() }}</strong>
                  {{ add_employee.phil_health(class="form-control") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.pag_ibig.label() }}</strong>
                  {{ add_employee.pag_ibig(class="form-control") }}
               </div>
            </div>

            <strong>In case of emergency, contact:</strong>
            <div class="form-row"> 
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.emergency_name.label() }}</strong>
                  {{ add_employee.emergency_name(class="form-control", id="datepicker") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.emergency_contact.label() }}</strong>
                  {{ add_employee.emergency_contact(class="form-control") }}
               </div>
               <div class="form-outline mb-1 mt-1 col">
                  <strong>{{ add_employee.emergency_relationship.label() }}</strong>
                  {{ add_employee.emergency_relationship(class="form-control") }}
               </div>
            </div>
            </div><br>
   
            <div class="shadow rounded p-4">
               <h4 class="mt-2">Employment Profile</h4><hr>

               <div class="form-row">
                  <div class="form-outline mb-1 mt-1 col">
                     <strong>{{ add_employee.department.label() }}</strong>
                     {{ add_employee.department(class="form-control", id="mySelect") }}
                  </div>
                  <p id="demo">

                  </p>
                  <div class="form-outline mb-1 mt-1 col">
                     <strong>{{ add_employee.positions.label() }}</strong>
                     {{ add_employee.positions(class="form-control") }}
                  </div>
               </div>

               <div class="form-row">
                  <div class="form-outline mb-1 mt-1 col">
                     <strong>{{ add_employee.description.label() }}</strong>
                     {{ add_employee.description(class="form-control") }}
                  </div>
               </div>

               <div class="form-row">
                  <div class="form-outline mb-1 mt-1 col">
                     <strong>{{ add_employee.salary_package.label() }}</strong>
                     {{ add_employee.salary_package(class="form-control") }}
                  </div>
                  <div class="form-outline mb-1 mt-1 col">
                     <strong>{{ add_employee.status.label() }}</strong>
                     {{ add_employee.status(class="form-control") }}
                  </div>
                  <div class="form-outline mb-1 mt-1 col">
                     <strong>{{ add_employee.start_date.label() }}</strong>
                     {{ add_employee.start_date(class="form-control", id="datepicker2") }}
                  </div>
                  <div class="form-outline mb-1 mt-1 col">
                     <strong>{{ add_employee.end_date.label() }}</strong>
                     {{ add_employee.end_date(class="form-control", id="datepicker3") }}
                  </div>
               </div>
            </div>
            <div class="pb-5">
               <button class="btn btn-outline-success mt-3" type="submit">
                  <i class="fa-solid fa-check"></i> <u>Submit</u>
               </button>
   
               <a class="btn btn-outline-danger mt-3" href="{{ url_for('employees_bp.employees') }}">
                  <i class="fa-solid fa-ban"></i> <u>Cancel</u>
               </a>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}

{% block javascripts_local %}
{{ super() }}
<script>
   
   $('#datepicker').datepicker({ 
      uiLibrary: 'bootstrap4',
      format: 'yyyy-dd-mm'
   });

   $('#datepicker2').datepicker({ 
      uiLibrary: 'bootstrap4',
      format: 'yyyy-dd-mm'
   });

   $('#datepicker3').datepicker({ 
      uiLibrary: 'bootstrap4',
      format: 'yyyy-dd-mm',
   });
   
   imageFile.onchange = evt => {
      const [file] = imageFile.files
      if (file) {
         imagePath.src = URL.createObjectURL(file)
      }
   }

   
   function changeOptions() {
      var x = document.getElementById("mySelect").value;

      positions = {{ positions_list | tojson }};
      departments = {{ departments_list | tojson }};
   
      position_options = []
      for(let y in positions) {
         if(positions[y].department_id == x) {
            console.log(positions[y].position_name, positions[y].id)
         }
      }

      //document.getElementById("demo").innerHTML = "You selected: " + x;
   }
</script>

{% endblock %}
