{% extends 'main.html' %} {% set active_page = "payroll" %} {% block nav_contents %}

<div class="container">
   <div class="row mt-3 mb-3">
      <div class="col-12">
        <h4 class="shadow border p-3 rounded">
          <a href="{{ url_for('payroll_bp.payroll') }}" class="text-dark">Payroll</a> >
          <a href="#" class="text-dark">Cut Off</a>
        </h4>
      </div>
   </div>
   
   <div class="row mt-3 mb-3">
      <div class="col-12">
         <div class="shadow p-3 rounded">
            <table id="cut_off" class="table table-striped table-bordered" style="width:100%" >
               <thead>
                  <tr class="shadow"> 
                     <th hidden>ID</th>
                     <th>Name</th>
                     <th>Days Present</th>
                     <th>Regular Hours</th>
                     <th>OT Hours</th>
                     <th>Gross Pay</th>
                     <th>Deductions</th>
                     <th>Allowance</th>
                     <th>Net Pay</th>
                     <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
               {% for data in employee_data %}
                  <tr>
                     <td hidden>{{ data.employee_id }}</td>
                     <td>{{ data.employee_name }}</td>
                     <td>{{ data.days_present }}</td>
                     <td>{{ data.total_regular_hours }}</td>
                     <td>{{ data.total_ot_hours }}</td>
                     <td>{{ data.gross_pay }}</td>
                     <td>{{ data.deductions }}</td>
                     <td>{{ data.allowance }}</td>
                     <td>{{ data.net_pay }}</td>
                     <td>
                        <div class="text-center">
                           <a href="{{ url_for('payroll_bp.individual_payroll', employee_id=data.employee_id, start_cut_off=data.start_cut_off, end_cut_off=data.end_cut_off) }}" class="btn btn-outline-success shadow">
                              <i class="fa-solid fa-eye"></i>
                           </a>
                        </div>      
                     </td>
                  </tr>
               {% endfor %}
              </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

{% endblock %}

{% block javascripts_local %}
{{ super() }}

<script>
   $(document).ready(function () {
      $('#cut_off').DataTable({

            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
   });
   

</script>

{% endblock %}