{% extends 'main.html' %}
{% set active_page = "salaries" %}


{% block nav_contents %}
<div class="container">
   <!-- add employee button and other infos-->
   <div class="row mt-3 mb-3">
      <div class="col-12">
         <h4 class="shadow border p-3 rounded">
            <a href="{{ url_for('salaries_bp.salaries') }}" class="text-dark">Salaries</a>
         </h4>
         
      
         {% include 'modals/add_salary_modal.html' %}
         <div class="d-flex align-items-end flex-column bd-highlight pr-3">
            <a class="btn btn-outline-success mt-3 shadow" data-toggle="modal" data-target="#add_salary">
               <i class="fa-solid fa-money-bill-wave"></i> <u> Add Salary</u>
            </a>
         </div>
      </div>
   </div>

   <div class="row">
      <!-- data table here -->
      <div class="col-12">
         <div class="shadow p-4 rounded">
            <table id="salaries" class="table table-striped table-bordered" style="width:100%" >
               <thead>
                   <tr class="shadow"> 
                        <th hidden>ID</th>
                       <th>Name</th>
                       <th>Description</th>
                       <th>Daily Rate</th>
                       <th>Hourly Rate</th>
                       <th>BIR</th>
                       <th>SSS</th>
                       <th>Phil Health</th>
                       <th>Pag-Ibig</th>
                       <th>OT Rate</th>
                       <th>Non-taxable Allowance</th>
                       <th>Action</th>
                       
                   </tr>
               </thead>
               <tbody>
                    {% for salary in salaries %}
                    <tr>
                    
                        <td hidden>
                            {{ salary.id }}
                        </td>
                        <td>
                            {{ salary.salary_name }}
                        </td>
                        <td>
                            {{ salary.description }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(salary.daily_rate) }}
                        </td>
                        <td>
                           {{ "{:.2f}".format(salary.hourly_rate) }}
                        </td>
                        <td>
                           {{ "{:.2f}".format(salary.bir_tax) }}
                        </td>
                        <td>
                           {{ "{:.2f}".format(salary.sss_tax) }}
                        </td>
                        <td>
                           {{ "{:.2f}".format(salary.phil_health_tax) }}
                        </td>
                        <td>
                           {{ "{:.2f}".format(salary.pag_ibig_tax) }}
                        </td>
                        <td>
                           {{ "{:.2f}".format(salary.ot_rate) }}
                        </td>
                        <td>
                           {{ "{:.2f}".format(salary.allowance) }}
                        </td>
                        <td style="width: 13%">
                           {% include 'modals/edit_salary_modal.html' %}
                           {% include 'modals/delete_salary_modal.html' %}
                           <div align="center">
                              <button class="btn btn-outline-warning shadow" data-toggle="modal" data-target="#edit_salary_{{ salary.id }}">
                                 <i class="fa-solid fa-edit"></i>
                              </button>
                              <button class="btn btn-outline-danger shadow" data-toggle="modal" data-target="#delete_salary_{{ salary.id }}">
                                 <i class="fa-solid fa-trash"></i>
                              </button>  
                           </div>
                        </td>
                    </tr>
                    {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block javascripts_local %}
{{ super() }}
<script>
   $(document).ready(function () {
      $('#salaries').DataTable({

            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
   });
   

</script>

{% endblock %}
