{% extends 'main.html' %}
{% set active_page = "home" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('home_bp.static',filename='css/home.css') }}" />
{% endblock %}
{% block nav_contents %}
<div class="container">
   <div class="row mt-3 mb-3">
      <div class="col-12">
         <h4 class="shadow border p-3 rounded">
            <a href="#" class="text-dark">Home</a>
         </h4>
      </div>
   </div>
   <div class="row mt-3 mb-3">
      <div class="col-8">
         <div class="p-3 shadow rounded" style="height: 100vh;">
            {% if current_user.access.value == 'Admin' %}
            <div class="row mb-3">
               <div class="col-md-3">
                  <div class="card-counter success">
                     <i class="fa fa-users"></i>
                     <span class="count-numbers">{{statistics[0]}}</span>
                     <span class="count-name">Presents</span>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="card-counter danger">
                     <i class="fa fa-users"></i>
                     <span class="count-numbers">{{ statistics[1] }}</span>
                     <span class="count-name">Absents</span>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="card-counter warning">
                     <i class="fa fa-users"></i>
                     <span class="count-numbers">{{ statistics[2] }}</span>
                     <span class="count-name">Lates</span>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="card-counter info">
                     <i class="fa fa-users"></i>
                     <span class="count-numbers">{{ statistics[3] }}</span>
                     <span class="count-name">On Leave</span>
                  </div>
               </div>
            </div>
            {% endif%}
            <div class="row">
               <div class="col-12">
                  <ul class="nav nav-tabs nav-justified nav-pills p-3">
                     <li class="nav-item pr-3">
                        <h3 class="text-right">Announcements</h3>
                     </li>
                     <li class="nav-item pl-5">
                        <a href="#today" class="nav-link active shadow mr-3 text-dark" data-toggle="tab">Today</a>
                     </li>
                     <li class="nav-item">
                        <a href="#this_week" class="nav-link shadow mr-3 text-dark" data-toggle="tab">This Week</a>
                     </li>
                     <li class="nav-item">
                        <a href="#this_month" class="nav-link shadow text-dark" data-toggle="tab">This Month</a>
                     </li>
                  </ul>
                  <div class="tab-content p-3">
                     <div class="tab-pane fade show active" id="today" style="max-height: {{ '60vh' if current_user.access.value == 'Admin' else '80vh'}}; overflow-y:scroll;">
                        {% for today in today_announcements %}
                        <div class="border p-3 rounded mt-4" >
                           <div  class="d-flex justify-content-between">
                              <h6 class="text-left">{{ today.title }}</h6>
                              <h6>{{ today.date_created}}</h6>
                           </div>
                           <div>
                              <h6>By: {{ today.announced_by}}</h6>
                           </div>
                           <div>
                              {{ today.message }}
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                     <div class="tab-pane fade" id="this_week" style="max-height: {{ '60vh' if current_user.access.value == 'Admin' else '80vh'}}; overflow-y:scroll;">
                        {% for this_week in this_week_announcements %}
                        <div class="border p-3 rounded mt-4">
                           <div  class="d-flex justify-content-between">
                              <h6 class="text-left">{{ this_week.title }}</h6>
                              <h6>{{ this_week.date_created}}</h6>
                           </div>
                           <div>
                              <h6>By: {{ this_week.announced_by}}</h6>
                           </div>
                           <div>
                              {{ this_week.message }}
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                     <div class="tab-pane fade" id="this_month" style="max-height: {{ '60vh' if current_user.access.value == 'Admin' else '80vh'}}; overflow-y:scroll;">
                        {% for this_month in this_month_announcements %}
                        <div class="border p-3 rounded mt-4">
                           <div  class="d-flex justify-content-between">
                              <h6 class="text-left">{{ this_month.title }}</h6>
                              <h6>{{ this_month.date_created}}</h6>
                           </div>
                           <div>
                              <h6>By: {{ this_month.announced_by}}</h6>
                           </div>
                           <div>
                              {{ this_month.message }}
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-4">
         <div class="p-3 shadow rounded" style="height: 100vh;">
            <h3 class="shadow p-3 rounded text-center">Upcoming Holidays</h3>
            {% for event in events %}
               <div class="border p-2 rounded mt-3">
                  <h6>
                     {{ event[0] }}:
                  </h6>
                  <strong class="pl-3">
                     -{{ event[1] }}
                  </strong>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}

{% block javascripts_local %}
{{ super() }}

{% endblock %}