{% extends 'main.html' %}
{% set active_page = "home" %}


{% block nav_contents %}
<div class="container">
   <div class="row mt-3 mb-3">
      <div class="col-12">
         <h4 class="shadow border p-3 rounded">
            <a href="#" class="text-dark">Home</a>
         </h4>
      </div>
   </div>

   <div class="row mt-3 mb-3">
      <div class="col-8" style="height: 100vh;">
         <div class="p-3 shadow rounded">
            {% if current_user.access.value == 'Admin' %}
            <div class="row mb-3">
               <div class="col-md-3">
                 <div class="card-counter success">
                   <i class="fa fa-users"></i>
                   <span class="count-numbers">{{statistics[0]}}</span>
                   <span class="count-name">Presents</span>
                 </div>
               </div>
           
               <div class="col-md-3">
                 <div class="card-counter danger">
                   <i class="fa fa-users"></i>
                   <span class="count-numbers">{{ statistics[1] }}</span>
                   <span class="count-name">Absents</span>
                 </div>
               </div>
           
               <div class="col-md-3">
                 <div class="card-counter warning">
                   <i class="fa fa-users"></i>
                   <span class="count-numbers">{{ statistics[2] }}</span>
                   <span class="count-name">Lates</span>
                 </div>
               </div>
           
               <div class="col-md-3">
                 <div class="card-counter info">
                   <i class="fa fa-users"></i>
                   <span class="count-numbers">{{ statistics[3] }}</span>
                   <span class="count-name">On Leave</span>
                 </div>
               </div>
             </div>
            {% endif%}
            <div class="row">
               <div class="col-12">
                  <ul class="nav nav-tabs nav-justified nav-pills p-3">
                     <li class="nav-item pr-5">
                     <h3 class="text-right">Announcements</h3>
                     </li>
                     <li class="nav-item pl-5">
                     <a href="#home" class="nav-link active shadow mr-3 text-dark" data-toggle="tab">Home</a>
                     </li>
                     <li class="nav-item">
                     <a href="#profile" class="nav-link shadow mr-3 text-dark" data-toggle="tab">Profile</a>
                     </li>
                     <li class="nav-item">
                     <a href="#messages" class="nav-link shadow text-dark" data-toggle="tab">Messages</a>
                     </li>
                  </ul>
                  <div class="tab-content p-3">
                     <div class="tab-pane fade show active" id="home">
                     <h4 class="mt-2">Home tab content</h4>
                     <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                     </div>
                     <div class="tab-pane fade" id="profile">
                     <h4 class="mt-2">Profile tab content</h4>
                     <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                     </div>
                     <div class="tab-pane fade" id="messages">
                     <h4 class="mt-2">Messages tab content</h4>
                     <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
                     </div>
                  </div>     
               </div>
            </div>
         </div> 
      </div>
      <div class="col-4">
         <div class="p-3 shadow rounded">
            <h3>Test</h3>
         </div>
      </div>
   </div>
</div>
{% endblock %}