{% extends 'main.html' %}
{% set active_page = "departments" %}


{% block nav_contents %}   
   <div class="container">
      <!-- add department button and other infos-->
      <div class="row mt-3 mb-3">
         <div class="col-12">
            <h4 class="shadow border p-3 rounded">
               <a href="{{ url_for('departments_bp.departments') }}" class="text-dark">Departments</a>
            </h4>

            <a class="btn btn-outline-success mt-3" href="{{ url_for('departments_bp.add_department') }}">
               <i class="fa-solid fa-user-plus"></i> <u>Add Department</u>
            </a>
         </div>
      </div>

      <div class="row">
         <!-- data table here -->
         <div class="col-12">
            <table id="employees" class="table table-striped table-bordered" style="width:100%" >
               <thead>
                  <tr> 
                     <th>Department Name</th>
                     <th>Supervisor</th>
                     <th>Description</th>
                     <th>Date Created</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  {% for department in departments %}
                  <tr>
                        <td>
                           {{ department.department_name }}
                        </td>
                        <td>
                           {{ department.supervisor }}
                        </td>
                        <td>
                           {{ department.description }}
                        </td>
                        <td>
                           {{ department.date_created }}
                        </td>
                        <td>
                           {% include 'modals/delete_department_modal.html' %}
                           <div align="center">
                              <a href="{{ url_for('departments_bp.manage_department') }}" class="btn btn-outline-success">
                                 <i class="fa-solid fa-eye"></i>
                              </a>
                              <button class="btn btn-outline-danger" data-toggle="modal" data-target="#delete_department_{{ department.id }}">
                                 <i class="fa-solid fa-trash"></i>
                              </button>
                              
                           </div>
                        </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   {% endblock %}

   {% block javascripts_local %}
   {{ super() }}
   <script>
   $(document).ready(function () {
      $('#employees').DataTable(
         {
            lengthMenu: [
               [10, 25, 50, -1],
               [10, 25, 50, 'All'],
            ],
      }
      );
   });
      
   </script>
{% endblock %}