{% extends 'main.html' %}
{% set active_page = "departments" %}


{% block nav_contents %}
   <div class="container">
      <div class="row mt-3 mb-3">
         <div class="col-12">
            <h4 class="shadow border p-3 rounded">
               <a href="{{ url_for('departments_bp.departments') }}" class="text-dark">Departments</a> >
               <a href="#" class="text-dark">Manage Department</a>
            </h4>

            <a class="btn btn-outline-success mt-3" href="{{ url_for('departments_bp.departments') }}">
               <i class="fa-solid fa-user-plus"></i> <u>Go Back</u>
            </a>
         </div>
      </div>

      <div>
         <h1>
            {#{ full_name }#}
         </h1>
      </div>
   </div>
{% endblock %}