{% extends 'main.html' %}
{% set active_page = "schedules" %}


{% block nav_contents %}
   <div class="container">
      <div class="row mt-3 mb-3">
         <div class="col-12">
            <h4 class="shadow border p-3 rounded">
               <a href="{{ url_for('schedules_bp.schedules') }}" class="text-dark">Schedules</a> >
               <a href="#" class="text-dark">Employee Name</a> >
               <a href="#" class="text-dark">Manage Schedule</a>
            </h4>

            <a class="btn btn-outline-success mt-3 mb-3 shadow" href="{{ url_for('employees_bp.add_employee') }}">
               <i class="fa-solid fa-user-plus"></i> <u>Add Schedule</u>
            </a>
         </div>
      </div>

      <div class="row mt-3 mb-3">
         <div class="col-12">
            <div class="shadow p-4 rounded">
               <h1>Test</h1>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block javascripts_local %}

{% endblock %}