{% extends 'main.html' %} 
{% set active_page = "payslips" %} 

{% block nav_contents %}
<div class="container">
  <div class="row mt-3 mb-3">
     <div class="col-12">
       <h4 class="shadow border p-3 rounded">
         <a href="#" class="text-dark">Payslips</a>
       </h4>
     </div>
  </div>
  
  <div class="row mt-3 mb-3">
     <div class="col-12">
        <div class="shadow p-3 rounded">
           <h3>Employee Name</h3><hr>
           <table id="paylips" class="table table-striped table-bordered" style="width:100%" >
              <thead>
                 <tr class="shadow"> 
                    <th hidden>ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Total Days Present</th>
                    <th>Total Regular Hours</th>
                    <th>Total OT Hours</th>
                    <th>Gross Pay</th>
                    <th>Deductions</th>
                    <th>Allowance</th>
                    <th>Net Pay</th>
                    <th>Actions</th>
                 </tr>
             </thead>
             <tbody>
                {% for employee in employee_payslips %}
                 <tr>
                    <td hidden>1</td>
                    <td>{{ employee.start_cut_off }}</td>
                    <td>{{ employee.end_cut_off }}</td>
                    <td>{{ employee.days_present }}</td>
                    <td>{{ "{:.2f}".format(employee.total_regular_hours) }}</td>
                    <td>{{ "{:.2f}".format(employee.total_ot_hours) }}</td>
                    <td>{{ "{:.2f}".format(employee.gross_pay) }}</td>
                    <td>{{ "{:.2f}".format(employee.deductions) }}</td>
                    <td>{{ "{:.2f}".format(employee.allowance) }}</td>
                    <td>{{ "{:.2f}".format(employee.net_pay) }}</td>
                    <td>
                       <div class="text-center">
                          <a href="{{ url_for('payslips_bp.view_payslip', start_cut_off=employee.start_cut_off, end_cut_off=employee.end_cut_off) }}" class="btn btn-outline-success shadow">
                             <i class="fa-solid fa-eye"></i>
                          </a>
                       </div>      
                    </td>
                 </tr>
                {% endfor %}
             </tbody>
           </table>
        </div>
     </div>
  </div>
</div>
{% endblock %}
{% block javascripts_local %}
{{ super() }}

<script>
   $(document).ready(function () {
      $('#paylips').DataTable({

            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
   });
   

</script>

{% endblock %}